:root {
    --color-background:#C5C3C6;
    --color-background-left:#46494C;
    --color-title:#1985A1;
    --color-text-left:#DCDCDD;
    --color-second-title:#4C5C68;
    --color-main-title:#fff;

    --poilice-title:'Edu QLD Beginner', cursive;
    --police-cite:'Dancing Script', cursive;
    --police-texte:'Poppins', sans-serif;
}

.background {
    background-color: var(--color-text-left);
}

.content {
    display: flex;
    background-color: var(--color-text-left);
    margin: 0rem 12rem 0 12rem;
    
}

/*     LEFT     */


.left {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: var(--color-background-left);
    padding: 2rem 1rem;
    box-shadow: 0px 0px 10px var(--color-background-left);
    justify-content: space-between;
}

.left__header__image {
    display: block;
    width: 70%;
    border-radius: 40%;
    margin: 0 auto 3rem auto;
}

.left__header__image:hover {
    box-shadow: 0px 1px 5px black;
}

.left__header__main__title {
    margin-bottom: 3rem;
    text-transform: uppercase;
    color: var(--color-background);
    text-align: center;
    font-size: 4rem ;
    padding: 0;
    font-family: var(--poilice-title);
}

.left__header__second__title {
    font-family: var(--poilice-title);
    color: var(--color-title);
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 3.5rem;
}




.left__profile__title {
    color: var(--color-title);
    font-size: 2rem;
    font-family: var(--poilice-title);
    padding-left: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-decoration: underline;
}

.left__profile__content {
    color: var(--color-background);
    padding: 0 1.5rem 0 1.5rem;
    font-family: var(--police-cite);
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 5rem;

}

.left__contact__content {
    color: var(--color-background);
    padding: 0 1.5rem 0 1.5rem;
    font-family: var(--police-texte);
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 5rem;
    position: relative;
}

.left__contact__content--link {
    text-decoration: none;
    color: var(--color-background);
}

.left__contact__content--link:hover {
    color: var(--color-title);
    transition-duration: 1s;
    text-shadow: 1px 1px 3px black;
}

.left__contact__content--icone {
    position: absolute;
    width: 5%;
    padding-left: 0.5rem;
    margin-top: -0.2rem;
}


.left__skills__list {
    margin-bottom: 5rem;
}

.left__skills__list--content {
    color: var(--color-background);
    font-family: var(--police-texte);
    font-size: 1.8rem;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    align-self: flex-end;
}

.left__skills__list--content span {
    
    margin-right: 4rem;
}


/*    RIGHT    */

.right {
    display: flex;
    width: 60%;
    flex-direction: column;
    margin: 3rem 1rem 3rem 3rem;
    background-color: var(--color-background);
    background-image: url("..");
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px var(--color-background-left);
   
}

.right__socials {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9rem;
    margin-top: 9rem;
}

.image__link {
    display: block;
    width: 60%;
    margin: 0 auto 0 auto;
}

.image__link:hover {
    transition-duration: 1s;
    transform: scale(1.1);
}

.right__main-title {
    color: var(--color-background);
    background-color: var(--color-background-left);
    font-size: 3rem;
    padding: 1rem 0 1rem 2rem;
    margin-left:2rem ;
    margin-bottom: 5rem;
    box-shadow: 0px 0px 10px var(--color-background-left);
    font-family: var(--police-texte);
    font-weight:bold;
}

.right__experiences__title {
    margin: 0 0 0rem 4rem;
    font-size: 2.1rem;
    font-family: var(--police-texte);
    color: var(--color-background-left);
    font-weight: 700;
    

}

.right__experiences__title--em {
    font-size: 1.4rem ;
    font-style: italic;
    font-weight: lighter;
}

.right__experiences__time {
    font-family: var(--police-texte);
    color: var(--color-background-left);
    margin-left: 6rem;
    line-height: 1.4rem;
}

.right__experiences__function {
    font-family: var(--police-texte);
    color: var(--color-background-left);
    margin: 0.3rem 0 1rem 4rem;
    font-size: 1.5rem;
    font-weight: bold;
    
}

.special  {
    margin-bottom: 6rem;
}

.right__experiences__list {
    margin-left: 9rem;
    margin-bottom: 5rem;
    font-size: 1.2rem;
    color: var(--color-background-left);
    font-family: var(--police-texte);
    line-height: 1.9rem;
}