:root {
    --color-background:#C5C3C6;
    --color-background-left:#46494C;
    --color-title:#19a18a;
    --color-text-left:#DCDCDD;
    --color-second-title:#4C5C68;
    --color-main-title:#fff;

    --poilice-title:'Edu QLD Beginner', cursive;
    --police-cite:'Dancing Script', cursive;
    --police-texte:'Poppins', sans-serif;
}

.background {
    background-color: var(--color-text-left);
}

.content {
    display: flex;
    background-color: var(--color-text-left);
    margin: 0rem 12rem 0 12rem;
    
}

/*     LEFT     */


.left {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: var(--color-background-left);
    padding: 2rem 1rem;
    box-shadow: 0px 0px 10px var(--color-background-left);
    justify-content:space-between;
}


.left__header__image {
    display: block;
    width: 80%;
    border-radius: 40%;
    margin: 0 auto 3rem auto;
}

.left__header__image:hover {
    box-shadow: 0px 1px 5px black;
}

.left__header__main__title {
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: var(--color-background);
    text-align: center;
    font-size: 4rem ;
    padding: 0;
    font-family: var(--poilice-title);
}

.left__header__second__title {
    font-family: var(--poilice-title);
    color: var(--color-title);
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 3.5rem;
}




.left__profile__title {
    color: var(--color-title);
    font-size: 1.8rem;
    font-family: var(--police-texte);
    padding-left: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-decoration: underline;
    font-weight: bold;
}

.left__profile__content {
    color: var(--color-background);
    padding: 0 1.5rem 0 1.5rem;
    font-family: var(--police-cite);
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 2rem;

}

.strong {
    color:var(--color-title);
}

.left__contact__content {
    color: var(--color-background);
    padding: 0 1.5rem 0 1.5rem;
    font-family: var(--police-texte);
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.left__contact__content--link {
    text-decoration: none;
    color: var(--color-background);
}

.left__contact__content--link:hover {
    color: var(--color-title);
    transition-duration: 1s;
    text-shadow: 1px 1px 3px black;
}

.left__contact__content--icone {
    position: absolute;
    width: 5%;
    padding-left: 0.5rem;
    margin-top: -0.2rem;
}


.left__skills__list {
    margin-bottom: 3rem;
}

.left__skills__list--content {
    color: var(--color-background);
    font-family: var(--police-texte);
    font-size: 1.5rem;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    align-self: flex-end;
}

.left__skills__list--content span {
    
    margin-right: 4rem;
}


/*    RIGHT    */

.right {
    display: flex;
    width: 60%;
    flex-direction: column;
    margin: 3rem 1rem 3rem 3rem;
    background-color: var(--color-background);
    background-image: url("../images/kisspng-web-development-source-code-computer-programming-c-coding-5abef125719a45.7596878515224630134653.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y:50;
    box-shadow: 0px 0px 10px var(--color-background-left);
   
}

.right__socials {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9rem;
    margin-top: 9rem;
}

.image__link {
    display: block;
    width: 60%;
    margin: 0 auto 0 auto;
}

.image__link:hover {
    transition-duration: 1s;
    transform: scale(1.1);
}

.right__main-title {
    color: var(--color-background);
    background-color: var(--color-background-left);
    font-size: 2rem;
    padding: 1rem 0 1rem 2rem;
    margin-left:2rem ;
    margin-bottom: 3.5rem;
    box-shadow: 0px 0px 10px var(--color-background-left);
    font-family: var(--police-texte);
    font-weight:bold;
    text-transform: uppercase;
}

.right__experiences__title {
    margin: 0 0 0rem 4rem;
    font-size: 1.9rem;
    font-family: var(--police-texte);
    color: var(--color-background-left);
    font-weight: 700;
    

}

.right__experiences__title--em {
    font-size: 1.2rem ;
    font-style: italic;
    font-weight: lighter;
}

.right__experiences__time {
    font-family: var(--police-texte);
    color: var(--color-background-left);
    margin-left: 6rem;
    line-height: 1.4rem;
}

.right__experiences__function {
    font-family: var(--police-texte);
    color: var(--color-background-left);
    margin: 0.3rem 0 1rem 4rem;
    font-size: 1.2rem;
    font-weight: bold;
    
}

.special  {
    margin-bottom: 6rem;
}

.right__experiences__list {
    margin-left: 9rem;
    margin-bottom: 3.5rem;
    font-size: 1rem;
    color: var(--color-background-left);
    font-family: var(--police-texte);
    line-height: 1.9rem;
}
.right__langage {
    margin-bottom: 3.5rem;
}
.right__langage__content {
    padding: 0rem 0 0rem 4rem;
    font-family: var(--police-texte);
    color: var(--color-background-left);
    margin-bottom: 1rem;
    
}
.right__langage__contant--span {
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: var(--color-background-left);
    color: var(--color-background);
    font-size: 1rem;
    line-height: 1.9rem;
    width: 5rem;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin: 0rem 0.5rem 0rem 0.5rem;
    box-shadow: 0px 0px 10px var(--color-background-left);
    
}

.right__formation__school {
    margin: 0 0 0rem 4rem;
    font-size: 1.9rem;
    font-family: var(--police-texte);
    color: var(--color-background-left);
    font-weight: 700;
    line-height: 1.5rem;
}

.right__formation__diplome  {
    font-family: var(--police-texte);
    color: var(--color-background-left);
    margin-left: 6rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.right__formation__time {
    font-family: var(--police-texte);
    color: var(--color-background-left);
    margin: 0.3rem 0 1rem 4rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.right__formation__content {
    color: var(--color-background-left);
    font-size: 0.8rem ;
    font-style: italic;
    font-weight: lighter;
    font-family: var(--police-texte);
    margin-left: 6rem;
    margin-bottom: 3rem;
}

@media screen and (max-width : 450px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .left {
        width: 100vw;
        padding: 0; 
        text-align: center;
    }

    .left__profile__title {
        padding-left: 0;
        background-color: var(--color-background);
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: var(--color-background-left);
        text-decoration: none;
    }

    .left__skills__list--content {
        padding-left: 0;
        
    }


    .check {
        display: none;
    }
    .right {
        width: 100vw;
        padding: 0; 
        margin: 0;
    }

    .right__socials {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .right__main-title {
        margin-left: auto;
        text-align: center;
        padding-left: 0;
    }
    
    .right__experiences__title {
       margin-left: auto;
       margin-bottom: 1rem;
       text-align: center;
    }
    
    .right__experiences__list {
        margin-left: auto;
        text-align: center;
    }

    .right__experiences__function {
        margin-left: auto;
        text-align: center;
    }

    .right__experiences__time {
        text-align: center;
    }

    .right__langage__content {
        padding: 0;
        margin-bottom: 1rem;
        
    }
    .right__langage__contant--span {
        padding: 0.5rem 1rem 0.5rem 1rem;
        margin: 0rem 1rem 0rem 1rem;
    }

    .right__formation {
        text-align: center;
    }

    .right__formation__school {
        margin: 0 0 0rem auto;
    }
    
    .right__formation__diplome  {
        margin-left: auto;
    }
    
    .right__formation__time {
        margin: 0.3rem 0 1rem auto;
    }
    
    .right__formation__content {
        margin-left: auto;
    }
}



@media screen and (max-width : 900px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .left {
        width: 100vw;
        padding: 0; 
    }

    .right {
        width: 100vw;
        padding: 0; 
        margin: 0;
    }

    .right__socials {
        z-index: 0;
    }
}

@media screen and (max-width : 1750px) {
    .left {
        width: 100vw;
        padding: 0; 
    }

    .right {
        width: 100vw;
        padding: 0; 
    }
}